.threedots:after {
    content: "\2807";
    font-size: 30px;
  }

.searchbar{
  margin-bottom: 10%;
}
.link{
  
    text-decoration: underline;
    text-decoration-color: blue;
    color:blue;
  
}

.icon{
  float:right;
}

thead{ 
  position: "fixed";
  
}

.recordcount{
  padding-top: 10%;
}

