.threedots:after {
    content: "\2807";
    font-size: 30px;
  }

.searchbar{
  margin-bottom: 10%;
  margin-top: 10%;
}
.link{
  
    text-decoration: underline;
    text-decoration-color: blue;
    color:blue;
    cursor: pointer;
  
}

.icon{
  float:right;
}

thead{ 
  position: sticky;
  top: 0;
    background: #EDEDED;
    z-index: 999;
  
}

.material-symbols-outlined{
  cursor: pointer;
}

td {
  width: 100px;
  word-wrap: break-word;
}

.table{
  width: 500px;
  table-layout: fixed;
}
.loadingimg{
  width: 20px;
  height: 20px;
  position: relative;
  right:-6px;
  top:34px;
}

.deleteicon{
  position: relative;
  top: 6px;
  left: 3px;
}

.deletebutton{
  margin-top: 10px;
}




